html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.node.type_User .text {
  font-size: 100px;
}
.node.type_undefined {
  display: block;
}
.node.type_undefined .author {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 1em;
}
.node.type_undefined .author .emoji {
	margin-right: 0.5em;
}

.node .react-tabs {
  margin-top: 2em;
}

@import url(./jsonview.css);
@import url(../node_modules/react-tabs/style/react-tabs.css);