html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.node.type_User .text {
  font-size: 100px;
}
.node.type_Comment {
  display: block;
}
.node.type_Comment .author {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 1em;
    color: #aaa;
}
.node.type_Comment .author .emoji {
	margin-right: 0.5em;
}

.node .react-tabs {
  margin: 4em 0;
}

header {
  font-size: 2.5em;
}

header span.active {
  font-weight: bold;
}

header span {
  margin-right: 2em;
}

@import url(./jsonview.css);
@import url(../node_modules/react-tabs/style/react-tabs.css);

.jsonview-code {
  height: 600px;
}