html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loading {
  font-size: 3em;
  text-align: center;
  margin: auto;
}

/* NODE LIST
**************/
.nodes {
  padding: 0;
}

/* NODE
*********/
.node.type_User .text {
  font-size: 100px;
}
.node.type_Comment {
  display: block;
}
.node.type_Comment .author {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 1em;
    color: #aaa;
}
.node.type_Comment .author .emoji {
	margin-right: 0.5em;
}

.node .react-tabs {
  margin: 4em 0;
}

/* HEADER
*************/
header {
  font-size: 1.2em;
  margin: 0 -1em;
  padding: 0.5em 2em;
  -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.55);
}

header span.status {
  font-size: 0.75em;
}

header span.true {
  color: green;
}
header span.false {
  color: red;
}

header span.active {
  font-weight: bold;
}

header span {
  margin-right: 2em;
}

main h1,
header .logo {
  color: #0070f3;
  font-weight: bold;
  background: url(https://media4.giphy.com/media/1zhHiGwQiu2CaGj1uE/giphy.gif) no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@import url(./jsonview.css);
@import url(../node_modules/react-tabs/style/react-tabs.css);

.jsonview-code {
  height: 600px;
}
